* {
    margin: 0;
    padding: 0;
    outline: none; 
    text-decoration: none;
    box-sizing: border-box;
    
}
body {
    background: url("./img/bg1.jpeg") fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #cecccc;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0,0,0, 0.5);
    overflow: hidden;
}
.header{
    background: linear-gradient(120deg, #647377 0%, #373738 100%);
    padding: 24px;
    text-align: center;
    color:#FFF;

}
.form{
    padding: 18px;
}

.form-content{
     margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}
.form-content label{
    display:inline-block;
    margin-bottom: 6px;
}
.form-content input{
    display:block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
}
.form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
}
.form button{
    background-color: rgb(120, 124, 126);
    color:#FFF;
    width: 100%;
    border-radius: 14px;
    padding:  10px;
    border: 0;
    font-size: 16px;
    cursor:pointer;
    margin-top: 14px;

}
.form-content.error input{
    border-color: #ff3b25;
}

.form-content.error a{
    color:#ff3b25;
    visibility: visible;
}