* {
    margin: 0;
    padding: 0;
    outline: none; 
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.6s linear;
    
}
a:link, a:visited {
    color: rgb(228, 220, 220);
}
 a:hover {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000;
 
}
body {
    background: url("./img/bg.jpeg") fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    max-width: 1200px;
}

.header {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height:50vh;
    width: 80vw;
    margin: 150px;
    border: 3px solid rgb(129, 129, 129);
    border-radius: 10px;
    background: rgba(99, 97, 97, 0.5);
    box-shadow:2px 2px 10px #000000;
}
.header h1 {
    display:flex;
    font-size: 3rem;
    color: white;
    text-shadow: 1px 2px 2px #000000;
    
}

.header form {
    align-items: center;
    justify-content: center;
    color:rgb(32, 32, 32)
}
.header form label {
    font-size: 18px;
    color: rgb(7, 7, 7);
    font-weight: bold;
}
.header form input {
    width: 150px;
    height: 30px;
    border-radius: 5px;
}
input::placeholder, 
textarea::placeholder {
  color: #6e6969; 
  font-size: 12px; 
  font-weight: bold;
  text-align: center;
}
.header form button {
    width: 70px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(82, 86, 88);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.header form button:hover {
    background-color: rgb(120, 124, 126);
}
.header .cadastro-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
}